body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#uiOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    pointer-events: none;
}

#uiOverlay > * {
    pointer-events: auto;
}